.counter{
    height: 3rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
   border-radius: 0.5rem;
     border: 2px solid rgb(6, 92, 27);
     font-size: 2rem;
     color: black;
}