.message {
  position: fixed;
  top: 10rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(182, 185, 177, 0.384);
  color: white;
  padding: 4rem;
  border-radius: 1rem;
  font-size: 3rem;
  text-align: center;
}