<div style="position: relative; width:60rem;
  height:90vh;">
    <app-triangle  *ngIf="showTriangle1" style="position: absolute; top: 12rem; left: 9rem;" [dataFromParent]="style1" (click)="handleTriangleClick(1)"></app-triangle>
    <app-triangle *ngIf="showTriangle2" style="position: absolute; top: 4rem; right: 8rem;"[dataFromParent]="style2" (click)="handleTriangleClick(2)"></app-triangle>
    <app-triangle *ngIf="showTriangle3" style="position: absolute; top: 18rem; right: 23rem;"[dataFromParent]="style3" (click)="handleTriangleClick(3)"></app-triangle>
    <app-triangle *ngIf="showTriangle4" style="position: absolute;bottom: 10rem; right: 14rem;"[dataFromParent]="style4" (click)="handleTriangleClick(4)"></app-triangle>
    <app-triangle *ngIf="showTriangle5" style="position: absolute; bottom: 8rem; left:16rem;"[dataFromParent]="style5"(click)="handleTriangleClick(5)"></app-triangle>
    <app-header></app-header> 
    <app-counter [count]="counter"></app-counter>
    <app-button></app-button>
</div>


